--- 
jobs: 
  build: 
    docker: 
      - 
        image: "cimg/node:17.2.0"
    steps: 
      - checkout
      -
        run: "npm init -y"
      - 
        run: "npm install"
      - 
        run: "npm build"
    working_directory: ~/repo
  run: 
    docker: 
      - 
        image: "cimg/base:stable"
    steps: 
      - checkout
      - 
        run: 
          command: "echo Hello, World run!"
          name: Run
version: 2.1
workflows: 
  run-workflow: 
    jobs: 
      - run
      - build
