--- 
jobs: 
  build: 
    docker: 
      - 
        image: "node:17.2.0"
    steps: 
      - checkout
      - 
        restore_cache: 
          keys: 
            - "v1-dependencies-{{ checksum \"package.json\" }}"
            - v1-dependencies-
      - 
        run: "npm install"
      - 
        save_cache: 
          key: "v1-dependencies-{{ checksum \"package.json\" }}"
          paths: 
            - ./node_modules
      - 
        run: "npm test"
      - 
        run: "npm build"
    working_directory: ~/
  run: 
    docker: 
      - 
        image: "cimg/base:stable"
    steps: 
      - checkout
      - 
        run: 
          command: "echo Hello, World run!"
          name: Run
version: 2.1
workflows: 
  run-workflow: 
    jobs: 
      - run
      - build