--- 
jobs: 
  build: 
    docker: 
      - 
        image: cimg/node:17.2.0
    working_directory: ~/repo    

    steps: 
      - checkout
      - 
        restore_cache: 
          keys: 
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      -
        run: "npm init -y"
      - 
        run: "npm install"
      -
        run: "npm test"
      - 
        save_cache: 
          key: v1-dependencies-{{ checksum "package.json" }}
          paths: 
            - node_modules
  run: 
    docker: 
      - 
        image: "cimg/base:stable"
    steps: 
      - checkout
      - 
        run: 
          command: "echo Hello, World run!"
          name: Run
version: 2.1
workflows: 
  run-workflow: 
    jobs: 
      - run
      - build