---
jobs:
  build:
    docker:
      - image: cimg/node:17.2.0
    working_directory: ~/repo/client # finally figured out that the working dir can be different than checkout repo

    steps:
      - checkout:
          path: ~/repo
 
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: 'npm install'
      - run: 'npm install axios'
      - run: 'npm install node-fetch@2' 

      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      # run test!!!! I
      - run: npm test a
  run:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - run:
          command: 'echo Hello, World run!'
          name: Run
version: 2.1
workflows:
  run-workflow:
    jobs:
      - run
      - build
