nav {
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    background-color: #75E6DA;
    color: #05445E;
    height: 300px;
    

}

.navbar {
    display: flex;
    justify-content: start;
    align-items: cetner;
    height: 300px;
}